Repository bartek-kachnic123/rtchats: changes, and which lefthook commands are due for each by the changed paths.
All: project-lint-format-js, project-format-html-css-json-yml

lefthook.yml:

templates:
  lint: npm run dt -- lint:fix
  format: npm run dt -- format:fix

pre-commit:
  parallel: true

  commands:
    project-lint-format-js:
      glob: '*.{js,jsx}'
      run: '{lint} {staged_files} && {format} {staged_files}'
      stage_fixed: true

    project-format-html-css-json-yml:
      glob: '*.{html,css,json,yml}'
      run: '{format} {staged_files}'
      stage_fixed: true

    gradle-format-analyze:
      run: './gradlew lintAndFormat :spotlessMiscApply :spotlessBuildLogicApply'
      stage_fixed: true

pre-push:
  parallel: true

  commands:
    gradle-test-coverage:
      run: ./gradlew jacocoTestReport

    frontend-test-coverage:
      run: npm run frontend:coverage

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

refactor: create ExistsBy sql queries enum, fix style
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/DefaultUserRepository.java
  gradle/build-logic/src/main/groovy/com.kachnic.format-java-conventions.gradle
  gradle/build-logic/src/main/groovy/com/kachnic/gradle/format/SpotlessConfig.groovy
Due: none

chore: update springBoot version from 3.4.7 to 3.4.9
  gradle/libs.versions.toml
Due: none

fix: prevent repeated errors for the same missing placeholder
  backend/app/src/main/java/com/kachnic/rtchats/config/EnvironmentPlaceholderPostProcessor.java
Due: none

chore: update transitive commons-compress and commons-codec deps
  gradle/build-logic/src/main/groovy/com.kachnic.transitive-dependency-conventions.gradle
  gradle/libs.versions.toml
Due: none

fix: ignore S110 (inheritance depth) for all Exception classes
  gradle.properties
Due: none

fix: make domain exceptions serializable, rename package service to codes
  backend/app/src/main/java/com/kachnic/rtchats/libs/ddd/DomainValidate.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/ArgumentInvalidFormatException.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/ArgumentMaxValueException.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/ArgumentOutOfRangeException.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/DomainException.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/InternalServerException.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/MissingArgumentException.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/MissingCharacterException.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/TimeLimitExceededException.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/codes/ArgumentErrorCode.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/codes/ErrorCode.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/codes/MissingCharacterErrorCode.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/codes/OperationErrorCode.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/specs/ContainsSpecification.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/specs/MatchesFormatSpecification.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/MessageSourceResolver.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/StrongPasswordSpecification.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/exceptions/UserErrorCode.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/exceptions/UserException.java
Due: none

refactor: create time utils
  backend/app/src/main/java/com/kachnic/rtchats/libs/specs/TimeLimitSpecification.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/utils/SystemTimer.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/utils/Timer.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/RandomTimingAspect.java
Due: none

fix: run Spotless after PMD and SpotBugs, change task name to lintAndFormat
  gradle/build-logic/src/main/groovy/com.kachnic.java-conventions.gradle
  lefthook.yml
Due: project-format-html-css-json-yml

style: add blank line after class declaration
  backend/app/src/main/java/com/kachnic/rtchats/libs/ddd/AbstractDomainEvent.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/ddd/AggregateRoot.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/ddd/BaseEntity.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/ddd/DomainValidate.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/ArgumentInvalidFormatException.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/ArgumentMaxValueException.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/ArgumentOutOfRangeException.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/DomainException.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/InternalServerException.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/MissingArgumentException.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/MissingCharacterException.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/TimeLimitExceededException.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/specs/BetweenLengthSpecification.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/specs/ContainsSpecification.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/specs/MatchesFormatSpecification.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/specs/MaxLengthSpecification.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/specs/TimeLimitSpecification.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/AbstractMessageResolver.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/MessageSourceResolver.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/CreateUserCommand.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/CreateUserCommandHandler.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/CreateUserUseCase.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/StrongPasswordSpecification.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/DefaultUserCredentialService.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/UserEntity.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/events/UserCreatedEvent.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/exceptions/EmailAlreadyTakenException.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/exceptions/UserException.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/model/valueobjects/EmailSpecification.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/model/valueobjects/PasswordSpecification.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/model/valueobjects/UsernameSpecification.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/DefaultUserRepository.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/SpringPasswordEncoder.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/web/CreateUserRequest.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/web/GlobalExceptionHandler.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/web/UserController.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/web/UserExceptionHandler.java
  gradle/build-logic/src/main/groovy/com.kachnic.format-java-conventions.gradle
Due: none

refactor: mv StrongPasswordSpec to domain and RandomTimed interface to application
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/CreateUserUseCase.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/RandomTimed.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/DefaultUserCredentialService.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/StrongPasswordSpecification.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/UserCredentialService.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/RandomTimingAspect.java
Due: none

refactor: simplify env placeholders fail fast
  backend/app/src/main/java/com/kachnic/rtchats/config/EnvironmentPlaceholderPostProcessor.java
Due: none

refactor: add external endpoints configuration
  backend/app/src/main/java/com/kachnic/rtchats/config/ApiPathsProperties.java
  backend/app/src/main/java/com/kachnic/rtchats/config/WebSecurityConfig.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/web/UserController.java
  backend/app/src/main/resources/application.properties
Due: none

fix: add synchronous command bus and change handler return type to void
  backend/app/src/main/java/com/kachnic/rtchats/libs/application/AsyncCommand.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/application/Command.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/application/CommandBus.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/application/CommandHandler.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/application/UseCaseExecutor.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/CommandHandler.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/SpringCommandBus.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/SynchronousCommandBus.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/CreateUserCommand.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/CreateUserCommandHandler.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/CreateUserUseCase.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/UserTimeoutOperation.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/web/UserController.java
Due: none

refactor: update class/field names and access modifiers
  backend/app/src/main/java/com/kachnic/rtchats/libs/ddd/AbstractDomainEvent.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/ddd/AggregateRoot.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/logging/DomainExceptionLogEvent.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/logging/DomainExceptionLogListener.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/logging/InternalExceptionLogEvent.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/logging/InternalExceptionLogListener.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/CreateUserUseCase.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/DefaultUserRepository.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/RandomTimingAspect.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/UserJpa.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/UserJpaMapper.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/UserJpaRepository.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/UserMapper.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/web/CreateUserRequest.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/web/InternalExceptionHandler.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/web/PasswordsMatch.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/web/PasswordsMatchValidator.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/web/UserExceptionHandler.java
Due: none

feat: add handling for missing command handlers and simplify generics
  backend/app/src/main/java/com/kachnic/rtchats/libs/application/CommandBus.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/CommandHandlerNotFoundException.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/SynchronousCommandBus.java
Due: none

refactor: change SystemTimer to StopWatch
  backend/app/src/main/java/com/kachnic/rtchats/libs/utils/SystemTimer.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/utils/Timer.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/RandomTimed.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/ForkJoinTimeoutService.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/RandomTimingAspect.java
Due: none

refactor: improve maintainability of command handling and external config (#17)
  backend/app/src/main/java/com/kachnic/rtchats/config/ApiPathsProperties.java
  backend/app/src/main/java/com/kachnic/rtchats/config/EnvironmentPlaceholderPostProcessor.java
  backend/app/src/main/java/com/kachnic/rtchats/config/WebSecurityConfig.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/application/AsyncCommand.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/application/Command.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/application/CommandBus.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/application/CommandHandler.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/application/UseCaseExecutor.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/ddd/AbstractDomainEvent.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/ddd/AggregateRoot.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/exceptions/CommandHandlerNotFoundException.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/CommandHandler.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/SpringCommandBus.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/SynchronousCommandBus.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/logging/DomainExceptionLogEvent.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/logging/DomainExceptionLogListener.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/logging/InternalExceptionLogEvent.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/logging/InternalExceptionLogListener.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/utils/SystemTimer.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/utils/Timer.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/CreateUserCommand.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/CreateUserCommandHandler.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/CreateUserUseCase.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/RandomTimed.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/UserTimeoutOperation.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/DefaultUserRepository.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/ForkJoinTimeoutService.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/RandomTimingAspect.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/UserJpa.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/UserJpaMapper.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/UserJpaRepository.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/UserMapper.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/web/CreateUserRequest.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/web/InternalExceptionHandler.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/web/PasswordsMatch.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/web/PasswordsMatchValidator.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/web/UserController.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/web/UserExceptionHandler.java
  backend/app/src/main/resources/application.properties
Due: none

feat: add login and logout api
  backend/app/src/main/java/com/kachnic/rtchats/RtChatsApplication.java
  backend/app/src/main/java/com/kachnic/rtchats/config/ApiPathsProperties.java
  backend/app/src/main/java/com/kachnic/rtchats/config/RestAuthenticationEntryPoint.java
  backend/app/src/main/java/com/kachnic/rtchats/config/WebSecurityConfig.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/auth/infrastructure/UserPrincipal.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/auth/infrastructure/UserPrincipalService.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/model/UserEntity.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/model/UserRepository.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/DefaultUserRepository.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/UserJpaMapper.java
  backend/app/src/main/resources/application.properties
Due: none

feat: add login and logout api (#18)
  backend/app/src/main/java/com/kachnic/rtchats/RtChatsApplication.java
  backend/app/src/main/java/com/kachnic/rtchats/config/ApiPathsProperties.java
  backend/app/src/main/java/com/kachnic/rtchats/config/RestAuthenticationEntryPoint.java
  backend/app/src/main/java/com/kachnic/rtchats/config/WebSecurityConfig.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/auth/infrastructure/UserPrincipal.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/auth/infrastructure/UserPrincipalService.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/model/UserEntity.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/model/UserRepository.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/DefaultUserRepository.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/UserJpaMapper.java
  backend/app/src/main/resources/application.properties
Due: none

feat: switch auth API to use REST controllers
  backend/app/src/main/java/com/kachnic/rtchats/config/ApiAuthenticationEntryPoint.java
  backend/app/src/main/java/com/kachnic/rtchats/config/OpenApiSecurityConfig.java
  backend/app/src/main/java/com/kachnic/rtchats/config/WebSecurityConfig.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/auth/infrastructure/UserPrincipal.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/auth/web/LoginController.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/auth/web/LoginRequest.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/auth/web/LogoutController.java
Due: none

feat: switch auth API to use REST controllers (#19)
  backend/app/src/main/java/com/kachnic/rtchats/config/ApiAuthenticationEntryPoint.java
  backend/app/src/main/java/com/kachnic/rtchats/config/OpenApiSecurityConfig.java
  backend/app/src/main/java/com/kachnic/rtchats/config/WebSecurityConfig.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/auth/infrastructure/UserPrincipal.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/auth/web/LoginController.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/auth/web/LoginRequest.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/auth/web/LogoutController.java
Due: none

refactor: change public to package-private and simplify password confirmation logic
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/commands/createuser/CreateUserCommand.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/commands/createuser/CreateUserRequest.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/commands/loginuser/LoginUserCommand.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/commands/loginuser/LoginUserService.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/commands/logoutuser/LogoutUserController.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/validation/PasswordsMatch.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/validation/PasswordsMatchValidator.java
  backend/app/src/main/resources/messages.properties
  backend/app/src/main/resources/messages_en.properties
  backend/app/src/main/resources/messages_pl.properties
Due: none

ci: remove --info flag in sonar command and unify restore-key node label
  .github/workflows/build.yml
Due: project-format-html-css-json-yml

feat: add home, login and register pages
  backend/app/src/main/java/com/kachnic/rtchats/config/WebSecurityConfig.java
  frontend/app/.env.dev
  frontend/app/config/environment-validation.config.js
  frontend/app/package.json
  frontend/app/src/App.css
  frontend/app/src/App.jsx
  frontend/app/src/api/api.js
  frontend/app/src/features/auth/LoginForm.jsx
  frontend/app/src/features/auth/authSlice.js
  frontend/app/src/features/auth/loginSchema.js
  frontend/app/src/features/registeruser/RegisterForm.jsx
  frontend/app/src/features/registeruser/registerSchema.js
  frontend/app/src/features/registeruser/registerSlice.js
  frontend/app/src/index.css
  frontend/app/src/main.jsx
  frontend/app/src/pages/HomePage.jsx
  frontend/app/src/pages/LoginPage.jsx
  frontend/app/src/pages/RegisterPage.jsx
  frontend/app/src/pages/components/Form.jsx
  frontend/app/src/pages/components/FormInputs.jsx
  frontend/app/src/pages/components/Layout.jsx
  frontend/app/src/pages/components/Navbar.jsx
  frontend/app/src/store/store.js
  frontend/app/vite.config.js
  package-lock.json
Due: project-lint-format-js, project-format-html-css-json-yml

chore: remove unused imports
  frontend/app/src/features/auth/LoginForm.jsx
  frontend/app/src/pages/components/Navbar.jsx
Due: project-lint-format-js

refactor: move shared logic into FormInput and proxy now works by nesting under server
  frontend/app/.env.example
  frontend/app/.env.test
  frontend/app/config/environment-validation.config.js
  frontend/app/src/features/auth/LoginForm.jsx
  frontend/app/src/features/registeruser/RegisterForm.jsx
  frontend/app/src/pages/HomePage.jsx
  frontend/app/src/pages/components/FormInput.jsx
  frontend/app/src/pages/components/FormInputs.jsx
  frontend/app/vite.config.js
Due: project-lint-format-js

chore: remove sample test and enable passing with no test in frontend
  frontend/app/config/vitest.config.js
  frontend/app/src/pages/HomePage.jsx
  frontend/app/tests/App.test.jsx
Due: project-lint-format-js

refactor: rename Field components to FieldBase and InputField
  frontend/app/src/features/auth/LoginForm.jsx
  frontend/app/src/features/registeruser/RegisterForm.jsx
  frontend/app/src/pages/components/InputField.jsx
Due: project-lint-format-js
