Repository bartek-kachnic123/rtchats: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint-format-js, fronted-format-html-css-json

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint-format-js:
      root: "frontend/"
      glob: "**/*.{js,jsx}"
      run: |
        npm run lint:fix -- {staged_files} && \
        npm run format:write -- {staged_files}
      stage_fixed: true

    fronted-format-html-css-json:
      root: "frontend/"
      glob: "**/*.{html,css,json}"
      run: npm run format:write -- {staged_files}
      stage_fixed: true

    backend-format-analyze:
      root: "backend/"
      run: ./gradlew formatAndAnalyze
      stage_fixed: true

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

feat: setup Chakra UI with provider and color-mode
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.jsx
  frontend/src/ui/chakra-ui/components/ColorMode.jsx
  frontend/src/ui/chakra-ui/components/Provider.jsx
  frontend/src/ui/chakra-ui/hooks/useColorMode.js
Due: frontend-lint-format-js, fronted-format-html-css-json

build: add fail-fast env validation for frontend (build) and backend (runtime)
  backend/src/main/java/com/kachnic/rtchats/config/EnvironmentPlaceholderPostProcessor.java
  backend/src/main/resources/META-INF/spring.factories
  backend/src/main/resources/application.properties
  frontend/package-lock.json
  frontend/package.json
  frontend/validate-env.config.js
  frontend/vite.config.js
Due: frontend-lint-format-js, fronted-format-html-css-json

chore: update lint rules and fix resulting issues
  backend/build.gradle
  backend/config/pmd/ruleset.xml
  backend/src/main/java/com/kachnic/rtchats/RtChatsApplication.java
  backend/src/main/java/com/kachnic/rtchats/config/EnvironmentPlaceholderPostProcessor.java
  backend/src/test/java/com/kachnic/rtchats/RtChatsApplicationTests.java
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/main.jsx
  frontend/src/ui/chakra-ui/components/ColorMode.jsx
  frontend/src/ui/chakra-ui/components/Provider.jsx
  frontend/vite.config.js
Due: frontend-lint-format-js, fronted-format-html-css-json

chore: update lint rules and address resulting issues
  backend/build.gradle
  backend/config/pmd/ruleset.xml
  backend/src/main/java/com/kachnic/rtchats/RtChatsApplication.java
  backend/src/main/java/com/kachnic/rtchats/config/EnvironmentPlaceholderPostProcessor.java
  backend/src/test/java/com/kachnic/rtchats/RtChatsApplicationTests.java
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/main.jsx
  frontend/src/ui/chakra-ui/components/ColorMode.jsx
  frontend/src/ui/chakra-ui/components/Provider.jsx
  frontend/vite.config.js
Due: frontend-lint-format-js, fronted-format-html-css-json

chore: add Vitest and test scripts
  frontend/package-lock.json
  frontend/package.json
Due: fronted-format-html-css-json

chore: configure React Testing Library with Vitest (jsdom) and add Vitest coverage
  frontend/.gitignore
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/vitests-cleanup-after-each.js
  frontend/vite.config.js
  frontend/vitest.config.js
Due: frontend-lint-format-js, fronted-format-html-css-json

chore: add and configure Testcontainers with PostgreSQL
  backend/build.gradle
  backend/config/pmd/ruleset.xml
  backend/src/main/resources/application-test.properties
  backend/src/main/resources/application.properties
  backend/src/test/java/com/kachnic/rtchats/RtChatsApplicationTests.java
  backend/src/test/java/com/kachnic/rtchats/TestRtChatsApplication.java
  backend/src/test/java/com/kachnic/rtchats/config/TestcontainersConfiguration.java
Due: none

chore: set up E2E testing module
  e2e/.gitattributes
  e2e/.gitignore
  e2e/build.gradle
  e2e/gradle.properties
  e2e/gradle/libs.versions.toml
  e2e/gradle/wrapper/gradle-wrapper.jar
  e2e/gradle/wrapper/gradle-wrapper.properties
  e2e/gradlew
  e2e/gradlew.bat
  e2e/settings.gradle
Due: none

refactor: restructure project using npm workspaces
  .prettierignore
  .prettierrc
  eslint.config.js
  frontend/eslint-frontend.config.js
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  lefthook.yml
  package-lock.json
  package.json
Due: frontend-lint-format-js, fronted-format-html-css-json

chore: setup linting, formatting, and pre-commit for top-level files
  eslint.config.js
  lefthook.yml
Due: none

refactor: create build-logic component
  .gitattributes
  .gitignore
  backend/app/.gitattributes
  backend/app/build.gradle
  backend/app/gradle/wrapper/gradle-wrapper.jar
  backend/app/gradle/wrapper/gradle-wrapper.properties
  backend/app/gradlew
  backend/app/gradlew.bat
  backend/app/settings.gradle
  build.gradle
  e2e/build.gradle
  e2e/settings.gradle
  gradle.properties
  gradle/build-logic/build.gradle
  gradle/build-logic/settings.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.java-common-conventions.gradle
  gradle/build-logic/src/main/resources/pmd/ruleset.xml
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  lefthook.yml
  settings.gradle
Due: none

refactor: use version catalog for dependencies
  backend/app/build.gradle
  backend/app/gradlew
  build.gradle
  e2e/build.gradle
  e2e/gradlew
  gradle/build-logic/build.gradle
  gradle/build-logic/settings.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.format-java-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.format-misc-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.java-common-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.java-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.root-conventions.gradle
  gradle/libs.versions.toml
  lefthook.yml
Due: none

refactor: combine frontend commands in pre-commit
  lefthook.yml
Due: none

refactor: move config files to new config folder
  eslint.config.js
  frontend/app/config/eslint-app.config.js
  frontend/app/config/validate-env.config.js
  frontend/app/config/vitest.config.js
  frontend/app/vite.config.js
  frontend/devtools/cli/index.js
  frontend/devtools/config/devtools.config.js
  frontend/devtools/config/eslint-devtools.config.js
Due: frontend-lint-format-js

chore: separate Gradle tasks into gradle-pipe in Lefthook configuration
  lefthook.yml
Due: none

chore: configure JaCoCo, Istanbul and SonarQube
  backend/app/build.gradle
  build.gradle
  frontend/app/config/vitest.config.js
  frontend/app/package.json
  frontend/app/tests/vitest-cleanup-after-each.js
  frontend/app/vite.config.js
  gradle/build-logic/build.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.root-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.test-coverage-conventions.gradle
  gradle/libs.versions.toml
  package-lock.json
Due: frontend-lint-format-js, fronted-format-html-css-json

build: add frontend subproject in gradle
  gradle/build-logic/src/main/groovy/com.kachnic.root-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.sonar-conventions.gradle
  settings.gradle
Due: none

refactor: clean up code
  backend/app/src/main/java/com/kachnic/rtchats/config/EnvironmentPlaceholderPostProcessor.java
  backend/app/src/test/java/com/kachnic/rtchats/RtChatsApplicationTests.java
  frontend/app/src/App.jsx
Due: frontend-lint-format-js

fix: resolve automatic staging issue in pre-commit
  lefthook.yml
  settings.gradle
Due: none

chore: update frontend pre-commit to use single glob patterns
  lefthook.yml
Due: none

build: add Flyway with PostgreSQL deps to backend app
  backend/app/build.gradle
  gradle/libs.versions.toml
Due: none

test: add check title test case
  frontend/app/src/App.jsx
  frontend/app/tests/App.test.jsx
Due: frontend-lint-format-js

refactor: extract dirs collection logic and remove npm tasks
  gradle/build-logic/src/main/groovy/com.kachnic.sonar-conventions.gradle
Due: none

ci: add build workflow with SonarQube analysis
  .github/workflows/build.yml
  frontend/app/package.json
  lefthook.yml
  package.json
Due: fronted-format-html-css-json

fix: enable production env in CI to load missing env vars
  .github/workflows/build.yml
Due: none

fix: add missing envs to CI workflow
  .github/workflows/build.yml
Due: none

chore: update CI configuration with Sonar organization
  .github/workflows/build.yml
Due: none

fix(ci): set sonar organization via properties
  .github/workflows/build.yml
  gradle/build-logic/src/main/groovy/com.kachnic.sonar-conventions.gradle
Due: none

build(sonar): add projectKey property
  gradle/build-logic/src/main/groovy/com.kachnic.sonar-conventions.gradle
Due: none

fix(sonar): switch SONAR_ORGANIZATION env to vars
  .github/workflows/build.yml
Due: none

ci: upgrade setup-java and cache actions to v4
  .github/workflows/build.yml
Due: none

chore(lefthook): change frontend and root commands to global
  lefthook.yml
Due: none

chore: add build-logic format and restructure convention plugins
  gradle/build-logic/src/main/groovy/com.kachnic.format-common-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.format-java-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.format-misc-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.java-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.root-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.test-coverage-conventions.gradle
  gradle/build-logic/src/main/groovy/com/kachnic/gradle/format/SpotlessConfig.groovy
  lefthook.yml
Due: none

chore: update lint and format settings
  gradle/build-logic/src/main/groovy/com.kachnic.format-common-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.format-java-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.format-misc-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.java-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.root-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.test-coverage-conventions.gradle
  gradle/build-logic/src/main/groovy/com/kachnic/gradle/format/SpotlessConfig.groovy
  lefthook.yml
Due: none

chore: merge Lefthook pre-commit commands and restructure Gradle conventions
  gradle/build-logic/src/main/groovy/com.kachnic.format-common-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.format-java-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.format-misc-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.java-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.root-conventions.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.test-coverage-conventions.gradle
  gradle/build-logic/src/main/groovy/com/kachnic/gradle/format/SpotlessConfig.groovy
  lefthook.yml
Due: none

chore: add docker compose support in backend app
  backend/app/build.gradle
  backend/app/docker-compose.yml
  gradle/libs.versions.toml
Due: none

chore: add transitive dependency conventions and springdoc
  backend/app/build.gradle
  backend/app/src/main/resources/application.properties
  e2e/build.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.transitive-dependency-conventions.gradle
  gradle/libs.versions.toml
Due: none

refactor: delete redundant 'project.' usage
  gradle/build-logic/src/main/groovy/com.kachnic.transitive-dependency-conventions.gradle
Due: none

chore: set up Docker Compose, API docs, and secure transitive deps (#4)
  backend/app/build.gradle
  backend/app/docker-compose.yml
  backend/app/src/main/resources/application.properties
  e2e/build.gradle
  gradle/build-logic/src/main/groovy/com.kachnic.transitive-dependency-conventions.gradle
  gradle/libs.versions.toml
Due: none
