Repository bartek-kachnic123/rtchats: changes, and which lefthook commands are due for each by the changed paths.
All: project-lint-format-js, project-format-html-css-json-yml

lefthook.yml:

templates:
  lint: npm run dt -- lint:fix
  format: npm run dt -- format:fix

pre-commit:
  parallel: true

  commands:
    project-lint-format-js:
      glob: '*.{js,jsx}'
      run: '{lint} {staged_files} && {format} {staged_files}'
      stage_fixed: true

    project-format-html-css-json-yml:
      glob: '*.{html,css,json,yml}'
      run: '{format} {staged_files}'
      stage_fixed: true

    gradle-format-analyze:
      run: './gradlew lintAndFormat :spotlessMiscApply :spotlessBuildLogicApply'
      stage_fixed: true

pre-push:
  parallel: true

  commands:
    gradle-test-coverage:
      run: ./gradlew jacocoTestReport

    frontend-test-coverage:
      run: npm run frontend:coverage

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit

feat: add home, login and register pages (#21)
  backend/app/src/main/java/com/kachnic/rtchats/config/WebSecurityConfig.java
  frontend/app/.env.dev
  frontend/app/.env.example
  frontend/app/.env.test
  frontend/app/config/environment-validation.config.js
  frontend/app/config/validate-env.config.js
  frontend/app/config/vitest.config.js
  frontend/app/package.json
  frontend/app/src/App.css
  frontend/app/src/App.jsx
  frontend/app/src/api/api.js
  frontend/app/src/features/auth/LoginForm.jsx
  frontend/app/src/features/auth/authSlice.js
  frontend/app/src/features/auth/loginSchema.js
  frontend/app/src/features/registeruser/RegisterForm.jsx
  frontend/app/src/features/registeruser/registerSchema.js
  frontend/app/src/features/registeruser/registerSlice.js
  frontend/app/src/index.css
  frontend/app/src/main.jsx
  frontend/app/src/pages/HomePage.jsx
  frontend/app/src/pages/LoginPage.jsx
  frontend/app/src/pages/RegisterPage.jsx
  frontend/app/src/pages/components/Form.jsx
  frontend/app/src/pages/components/InputField.jsx
  frontend/app/src/pages/components/Layout.jsx
  frontend/app/src/pages/components/Navbar.jsx
  frontend/app/src/store/store.js
  frontend/app/tests/App.test.jsx
  frontend/app/vite.config.js
  package-lock.json
Due: project-lint-format-js, project-format-html-css-json-yml

feat: create user profile on UserCreated event
  backend/app/src/main/java/com/kachnic/rtchats/libs/ddd/AggregateRoot.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/ddd/EntityBase.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/UserEntity.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/events/UserCreatedEvent.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/repository/DefaultUserRepository.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/eventhandlers/CreateProfileHandler.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/domain/UserProfileEntity.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/domain/valueobjects/Avatar.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/domain/valueobjects/OwnerId.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/domain/valueobjects/ProfileLink.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/domain/valueobjects/UserProfileId.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/repository/DefaultUserProfileRepository.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/repository/UserProfileJpa.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/repository/UserProfileMapper.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/repository/UserProfileRepository.java
Due: none

feat: create user profile on UserCreated event (#22)
  backend/app/src/main/java/com/kachnic/rtchats/libs/ddd/AggregateRoot.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/ddd/EntityBase.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/UserEntity.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/domain/events/UserCreatedEvent.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/repository/DefaultUserRepository.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/eventhandlers/CreateProfileHandler.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/domain/UserProfileEntity.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/domain/valueobjects/Avatar.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/domain/valueobjects/OwnerId.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/domain/valueobjects/ProfileLink.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/domain/valueobjects/UserProfileId.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/repository/DefaultUserProfileRepository.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/repository/UserProfileJpa.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/repository/UserProfileMapper.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/repository/UserProfileRepository.java
Due: none

feat: add get user profile by profileLink and get authenticated user profile
  backend/app/src/main/java/com/kachnic/rtchats/libs/application/Query.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/application/QueryHandler.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/security/AppUserDetails.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/commands/loginuser/LoginUserController.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/commands/loginuser/LoginUserService.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/commands/logoutuser/LogoutUserController.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/security/AppUser.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/security/AppUserDetailsService.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/eventhandlers/CreateProfileHandler.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/exceptionhandlers/EmptyResultDataAccessExceptionHandler.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/queries/getauthenticatedprofile/AuthenticatedProfileDto.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/queries/getauthenticatedprofile/GetAuthenticatedProfileController.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/queries/getauthenticatedprofile/GetAuthenticatedProfileQuery.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/queries/getauthenticatedprofile/GetAuthenticatedProfileService.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/queries/getprofile/GetProfileController.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/queries/getprofile/GetProfileQuery.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/queries/getprofile/GetProfileService.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/queries/getprofile/ProfileDto.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/domain/UserProfileEntity.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/domain/valueobjects/Avatar.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/domain/valueobjects/DisplayName.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/repository/DefaultUserProfileRepository.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/repository/UserProfileFieldMapper.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/repository/UserProfileJpa.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/repository/UserProfileJpaRepository.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/repository/UserProfileMapper.java
  backend/app/src/main/resources/application.properties
  frontend/app/src/App.jsx
  frontend/app/src/features/profile/profileSlice.js
  frontend/app/src/pages/ProfilePage.jsx
  frontend/app/src/pages/components/Navbar.jsx
  frontend/app/src/pages/errors/NotFoundPage.jsx
  frontend/app/src/store/store.js
Due: project-lint-format-js

feat: add user profile queries and simple frontend profile page (#23)
  backend/app/src/main/java/com/kachnic/rtchats/libs/application/Query.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/application/QueryHandler.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/security/AppUserDetails.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/commands/loginuser/LoginUserController.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/commands/loginuser/LoginUserService.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/application/commands/logoutuser/LogoutUserController.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/security/AppUser.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/security/AppUserDetailsService.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/eventhandlers/CreateProfileHandler.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/exceptionhandlers/EmptyResultDataAccessExceptionHandler.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/queries/getauthenticatedprofile/AuthenticatedProfileDto.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/queries/getauthenticatedprofile/GetAuthenticatedProfileController.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/queries/getauthenticatedprofile/GetAuthenticatedProfileQuery.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/queries/getauthenticatedprofile/GetAuthenticatedProfileService.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/queries/getprofile/GetProfileController.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/queries/getprofile/GetProfileQuery.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/queries/getprofile/GetProfileService.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/application/queries/getprofile/ProfileDto.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/domain/UserProfileEntity.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/domain/valueobjects/Avatar.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/domain/valueobjects/DisplayName.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/repository/DefaultUserProfileRepository.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/repository/UserProfileFieldMapper.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/repository/UserProfileJpa.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/repository/UserProfileJpaRepository.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/userprofile/repository/UserProfileMapper.java
  backend/app/src/main/resources/application.properties
  frontend/app/src/App.jsx
  frontend/app/src/features/profile/profileSlice.js
  frontend/app/src/pages/ProfilePage.jsx
  frontend/app/src/pages/components/Navbar.jsx
  frontend/app/src/pages/errors/NotFoundPage.jsx
  frontend/app/src/store/store.js
Due: project-lint-format-js

feat: add login saga
  frontend/app/package.json
  frontend/app/src/features/auth/LoginForm.jsx
  frontend/app/src/features/auth/authSaga.js
  frontend/app/src/features/auth/authSlice.js
  frontend/app/src/pages/HomePage.jsx
  frontend/app/src/pages/components/Navbar.jsx
  frontend/app/src/store/rootSaga.js
  frontend/app/src/store/store.js
  package-lock.json
Due: project-lint-format-js, project-format-html-css-json-yml

feat: add logout saga
  frontend/app/src/features/auth/authSaga.js
  frontend/app/src/features/auth/authSlice.js
  frontend/app/src/pages/HomePage.jsx
  frontend/app/src/pages/components/Navbar.jsx
  frontend/app/src/store/rootSaga.js
Due: project-lint-format-js

feat: add myProfile saga
  frontend/app/src/features/profile/myProfileSaga.js
  frontend/app/src/features/profile/profileSlice.js
  frontend/app/src/pages/components/Navbar.jsx
  frontend/app/src/store/rootSaga.js
Due: project-lint-format-js

feat: add register user Saga
  frontend/app/src/features/registeruser/RegisterForm.jsx
  frontend/app/src/features/registeruser/registerSaga.js
  frontend/app/src/features/registeruser/registerSlice.js
  frontend/app/src/store/rootSaga.js
Due: project-lint-format-js

feat: add redux-saga (#24)
  frontend/app/package.json
  frontend/app/src/features/auth/LoginForm.jsx
  frontend/app/src/features/auth/authSaga.js
  frontend/app/src/features/auth/authSlice.js
  frontend/app/src/features/profile/myProfileSaga.js
  frontend/app/src/features/profile/profileSlice.js
  frontend/app/src/features/registeruser/RegisterForm.jsx
  frontend/app/src/features/registeruser/registerSaga.js
  frontend/app/src/features/registeruser/registerSlice.js
  frontend/app/src/pages/HomePage.jsx
  frontend/app/src/pages/components/Navbar.jsx
  frontend/app/src/store/rootSaga.js
  frontend/app/src/store/store.js
  package-lock.json
Due: project-lint-format-js, project-format-html-css-json-yml

feat: add Redis-backed session
  backend/app/build.gradle
  backend/app/docker-compose.yml
  backend/app/src/main/java/com/kachnic/rtchats/config/SessionConfig.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/security/AppUserDetails.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/security/AppUser.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/security/AppUserDetailsService.java
  gradle/libs.versions.toml
Due: project-format-html-css-json-yml

feat: add Redis-backed session (#25)
  backend/app/build.gradle
  backend/app/docker-compose.yml
  backend/app/src/main/java/com/kachnic/rtchats/config/SessionConfig.java
  backend/app/src/main/java/com/kachnic/rtchats/libs/spring/security/AppUserDetails.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/security/AppUser.java
  backend/app/src/main/java/com/kachnic/rtchats/modules/user/infrastructure/security/AppUserDetailsService.java
  gradle/libs.versions.toml
Due: project-format-html-css-json-yml
